@import './../../../styles.scss';

.mb-1{
  margin-bottom: 1rem !important;
}

main{
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  width: 60dvw;
  min-height: 80dvh;
  height: 100%;
  border-radius: 10%;
  padding: 1.4rem;
   max-height: calc(100vh - 100px); 

  .upper-section{
    margin: 1rem 0;
  }

  .fields-section{
    width: 100%;
    font-weight: 600;
    margin-bottom: 1rem;

    .stepper-btn-row{
      display: flex;
      gap: 1rem;
      padding: .5rem;
      margin: 1rem;
    }
    .stepper-next-btn{
      width: 120px;
      height: 42px;
      outline: none;
      border: none;
      background-color: $emeraldGreen;
      color: white;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
      &:disabled,
        &.disabled {
          background-color: lighten($emeraldGreen, 30%);
          color: rgba(255, 255, 255, 0.6);
          cursor: not-allowed;
          opacity: 0.7;
  }
    }

    .stepper-back-btn{
      width: 120px;
      height: 42px;
      outline: none;
      border: none;
      background-color: $whiteSmoke;
      color: black;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
    }
  
  }
  .form-field{
    margin: 1rem;
  }

  .bottom-section{
    width: 100%; 

    .button-row{ 
      display: flex;
      gap: 1rem;
      padding: 1rem;
      margin-bottom: 1rem;
      justify-content: space-between;
      align-items: flex-end;

    .confirm-btn{
       width: 120px;
      height: 42px;
      outline: none;
      border: none;
      background-color: $emeraldGreen;
      color: white;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
        &:disabled,
        &.disabled {
          background-color: lighten($emeraldGreen, 30%);
          color: rgba(255, 255, 255, 0.6);
          cursor: not-allowed;
          opacity: 0.7;
  }

    }

    .cancel-btn{
       width: 120px;
      height: 42px;
      outline: none;
      border: none;
      background-color: $whiteSmoke;
      color: black;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
    }
  }
  }
}