main{
     width: 20rem;
    height: 22rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;


  .content {
    padding-top: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    /* font-weight: 600; */
    /* color: black; */
}
}