<main>
  <footer>
    <!-- Ícone de copyright -->
    <mat-icon class="material-symbols-outlined">
      copyright
    </mat-icon>
    2025 -
    <span>
      Teste técnico para a empresa
      <a href="https://be3.co/" target="_blank">Be3 health tech</a>
    </span>

    <!-- Ícone do GitHub com ng-icons -->
    <a href="https://github.com/cauefrancisco/plat.cadastroDePacientes" target="_blank" aria-label="GitHub Repository">
      <ng-icon
        [matTooltip]="'Repositório'"
        name="bootstrapGithub"
        size="24"></ng-icon>
    </a>
  </footer>
</main>