main{
  width: 100%;
  margin: 0 auto;
  height: 4rem;
  display: flex;

  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
    width: 100%;
    height: 100%;
    box-shadow: 0px -3px 4px  0px rgba(80, 200, 120, 0.5);
    background-color:  rgba(245, 245, 245, 1);
    color: #000;

    ng-icon{
      color: black;
      margin: 0 .5rem ;
    }
  }
}