<main>
  <footer>
    <mat-icon class="material-symbols-outlined">
      copyright
    </mat-icon>
    2025 -
    <span>
      Teste técnico para a empresa
      <a href="https://be3.co/" target="_blank">Be3 health tech</a>
    </span>

    <span class="social-links">
      <a href="https://www.linkedin.com/in/cauefrancisco" target="_blank" aria-label="LinkedIn">
        <mat-icon class="material-symbols-outlined">linkedin</mat-icon>
      </a>
      <a href="https://github.com/cauefrancisco" target="_blank" aria-label="GitHub">
        <mat-icon class="material-symbols-outlined">code</mat-icon>
      </a>
    </span>
  </footer>
</main>