
@import "./variables.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: #2E2E2E;}

.m-1{
  margin: 1rem !important;
}
.mb-1{
  margin: 1rem !important;
}

::ng-deep .mat-step-header {
  pointer-events: none;
}
