@import './../../../styles.scss';

.mb-1{
  margin-bottom: 1rem !important;
}

main{
      display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    /* height: 100%; */
    padding: 1.4rem; 
    /* max-height: calc(100vh - 100px); */
    overflow: auto;

  .upper-section{
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    padding: 1.4rem;
    /* margin: 0 2rem; */
    width: 100%;
    

    .btn-back{
      color: whitesmoke;
      background-color: $emeraldGreen;
      border: 1px solid $emeraldGreen;
      height: 42px;
      width: 120px;
      margin: 0 .5rem;
    }
    
    h2{
      margin: 0 2rem;
    }
  }

  .fields-section{
    width: 100%;
    font-weight: 600;
    margin-bottom: 1rem;

    .title{
      text-align: center;
    }

    .stepper-btn-row{
      display: flex;
      gap: 1rem;
      padding: .5rem;
      margin: 1rem;
    }
    .stepper-next-btn{
      width: 120px;
      height: 42px;
      outline: none;
      border: none;
      background-color: $emeraldGreen;
      color: white;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
      &:disabled,
        &.disabled {
          background-color: $emeraldGreen;
          color: rgba(255, 255, 255, 0.6);
          cursor: not-allowed;
          opacity: 0.7;
  }
    }

    .stepper-back-btn{
      width: 120px;
      height: 42px;
      outline: none;
      border: none;
      background-color: $whiteSmoke;
      color: black;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
    }
  
  }
  .form-field{
    margin: 1rem;
  }

  .bottom-section{
    width: 100%; 

    .button-row{ 
      display: flex;
      gap: 1rem;
      padding: 1rem;
      margin-bottom: 1rem;
      justify-content: space-between;
      align-items: flex-end;

    .confirm-btn{
       width: 120px;
      height: 42px;
      outline: none;
      border: none;
      background-color: $emeraldGreen;
      color: white;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
        &:disabled,
        &.disabled {
          background-color: $emeraldGreen;
          color: rgba(255, 255, 255, 0.6);
          cursor: not-allowed;
          opacity: 0.7;
  }

    }

    .cancel-btn{
       width: 120px;
      height: 42px;
      outline: none;
      border: none;
      background-color: $whiteSmoke;
      color: black;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
    }
  }
  }
}