<main>
  <mat-toolbar>
    <section class="title">
      <span>Cadastro de Pacientes</span>
      <mat-icon
        class="material-symbols-outlined"
        matTooltip="Adicionar paciente">
        clinical_notes
      </mat-icon>
    </section>
    <section class="menu-header">
      <ul>
        <li>
          <mat-icon
            class="material-symbols-outlined"
            matTooltip="Adicionar paciente"
            (click)="addNewPatient()">
            add
          </mat-icon>
        </li>

      </ul>
    </section>
  </mat-toolbar>
</main>