@import './../../../../../styles.scss';

mat-toolbar{
  box-shadow: 0px 3px 4px 0px rgba(80, 200, 120, 0.5);
  background-color:  rgba(245, 245, 245, 1);
  color: #000;
  position: sticky;
  display: flex;
  gap: 5%;
  padding: 2rem;
  min-height: 4.6rem;
  justify-content: space-between;

    .title{
      display: flex;
    }
    .menu-header{
      ul{
        list-style: none;
        mat-icon{
          border: 2px solid $emeraldGreen;
          border-radius: 50%;
          padding: 10px;
          color: $emeraldGreen;
          font-weight: 600;
          cursor: pointer;

          &:hover{
            padding: 12px;
            font-size: 26px;
          }
        }
      }

    }
}